@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Slab:wght@100;200;300;400;500;600;700;800;900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

html, body {
  height: 100%;
}

/*
Colors used

Text Color (Dark Gray): #2b2b2b;
Primary Color (Dark teal): #264653;
Secondary Color (Gold): #e0b354;
 */

:root {
  --primary-color: #264653;
  --primary-color-lighter: #357b70;
  --primary-color-darker: #203c47;
  --secondary-color: #e0b354;
  --secondary-color-lighter: #f0d696;
  --secondary-color-darker: #e2b23e;
  --background-color: #cdcdcd;
  --background-color-darker: #909090;
  --background-color-lighter: #c3c3c3;
}

*{
  box-sizing: border-box;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 20px;

}

.grid__item:last-child {
  grid-column-start: 3;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 3;
}

/* start grid fallback */
.grid__item {
  display: inline-block;
  width: 33%;
  flex-basis: 200px;
 }

 /* end grid fallback */
 
 @supports (display: grid) {
  .grid {
    display: grid;
    /* grid-template-columns: 300px 300px 300px; fractions are better than pixels - they are responsive */
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 20px;
    margin: 0;
 
  }
  .grid__item {
    background-color: var(--background-color-lighter);
    width: auto;
    min-height: auto;
    margin: 0;
  }
  .grid__item:last-child {
    grid-column: 3 / 3;
    grid-row: 1 / 3;
  }
 }


/* Navbar and navigation list */

/* The navigation bar */
nav {
     background-color: var(--primary-color);
     padding: 15px;
     vertical-align: middle;
}

nav a:link, a:visited {
  color: var(--secondary-color);
  text-decoration: none;
}

nav a:hover, a:focus {
  /* No underlining when hovering over a link */
  text-decoration: none;
  color: var(--secondary-color-lighter);
}

.navigation-list {
  list-style-type: none;

}

section{
  min-height: calc(100vh - 70px);
}


.main-navigation {
  text-align: right;
}

.navigation-list li {
  display: inline-block;
  margin-left: 15px;
}

.navigation-list li .navigation-list__item--active {
  text-decoration: none;
  color: var(--secondary-color-lighter);
  font-weight: 900;
}


/* Profile */

.profile {
  max-width: 1200px;
  margin: 0 auto;
}

.profile__portrait {
  float: left;
  width: 100%;
  margin-right: 20px;
  padding: 20px;
}

.profile__text {
  flex: 1 1 100px;
}



/* Footer 

footer{
    background-color: var(--secondary-color-darker);
    margin:0;
    align-items: center;
    height: 50px;

}*/

.page-footer {
  clear: both;

  text-align: center;
  flex-direction: column;
  flex-shrink: 0;
  position: fixed;
  margin: 0;
}

/* links */

a {
  text-decoration: none;
}

a:link {
  color: var(--primary-color-lighter);
  font-weight: 500;
}

/* mouse over link */

a:hover, a:focus {
  /* No underlining when hovering over a link */
  font-weight: 900;
  color: var(--secondary-color);
}

a:visited {
  color: var(--secondary-color-darker);
}



/* Body */

body {
  margin: 0 auto;
  font-family: "Roboto";
  font-weight: 300;
  font-size: 16px;
  /* Sets the font size to 16px */
  line-height: 1.6;
  /* Sets the line-height to 1.6 */
  display: flex;
  flex-direction: column;
  }

  .content {
    flex: 1 0 auto;
  }


.row-header{
    margin:0px auto;
    padding:0px;
}

.row-content {
    margin:0px auto;
    padding: 20px;
/*    border-bottom: 1px ridge;
    min-height:400px;  */
}

.page-header {
  background-color: #264653;
  display: flex;
  width: 100%;
  padding: 20px;
  margin: 0 auto;
}

.page-header__item {
  flex: 0 1 200px;

}
.page-header__item:last-child {
  flex-grow: 1;
  text-align: right;
}

small {
  font-size: 80%
}


/* buttons */
.btn__wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 20px;
  padding: 20px;
  font-family: sans-serif;
}
.btn-primary, .btn-primary-lighter, .btn-primary-darker, .btn-secondary {
  padding: 10px;
  border-radius: 5px;
  box-shadow: 4px 3px 19px 0px rgba(0, 0, 0, 0.3);
}
.btn-primary {
  background-color: var(--primary-color);
  color: #fff;
}
.btn-primary:hover {
  background-color: var(--secondary-color);
  cursor: pointer;
  box-shadow: none;
}
.btn-primary-lighter {
  background-color: var(--primary-color-lighter);
}
.btn-primary-lighter:hover {
  background-color: var(--primary-color);
  cursor: pointer;
  box-shadow: none;
  color: #fff;
}
.btn-primary-darker {
  background-color: var(--primary-color-darker);
  color: #fff;
}
.btn-primary-darker:hover {
  background-color: var(--primary-color-lighter);
  cursor: pointer;
  box-shadow: none;
}
.btn-secondary {
  background-color: var(--secondary-color);
  color: #000;
}
.btn-secondary:hover {
  background-color: var(--secondary-color-darker);
  cursor: pointer;
  box-shadow: none;
}


/* form and tab content */

.tab-content {
  border-left: 1px solid var(--background-color-lighter);
  border-right: 1px solid var(--background-color-lighter);
  border-bottom: 1px solid var(--background-color-lighter);
  padding: 0px 20px 10px 20px;
}

.form {
  width: 400px;
  margin:auto;
  background: white;
  border-radius: 3px;
  margin-top: 5em;
  margin-bottom: 6em;
  padding: 1.25em;
}

.form-group {
  position: relative;
  opacity: 1;
  transition: .6s;
}
  
.input-field-icon {
  color: #bfc9ca;
  font-size: 18px;
  position: absolute;
  right: 10px;
  bottom: 12px;
  transition: .6s;
}
  
.form-control {
  transition: opacity .6s;
  opacity: 1;
  border: 0;
  border-bottom: 2px solid #bdc3c7;
  border-radius: 0;
  background: white;
  font-size: 15px;
  line-height: 1.467;
  padding: 4px;
  height: 42px;
  -webkit-appearance: none;
}
 
input, textarea, button, select {
  transition: all 800ms;
  font-family: "system-ui";
  resize: none;  /* removes the resize handle */
  overflow: auto; /* removes default scrolling bars in IE */
  outline:none; 
  font-family:inherit; 
  box-sizing:border-box;
  width: 100%;
  padding: 0px 4px;
  color: #34495e;
  margin-top: 1.25em;
}
  
.has-error input, .has-error textarea {
  color: #e74c3c;
  border-color: #e74c3c;
}
  
.has-error .input-field-icon {
  color: #e74c3c;
}
  
.has-success input, .has-success textarea {
  color: #2ecc71;
  border-color: #2ecc71;
}
  
.has-success .input-field-icon {
  color: #2ecc71;
}
  
input:focus, textarea:focus {
  border-color: #48c9b0;
  color: #34495e;
}
  
input:focus + .input-field-icon {
  color: #34495e;
}
  
textarea.form-control {
  height: 120px;
  transition: .6s;
}
  
textarea.form-control:focus {
  height: 200px;
  border-color: #48c9b0;
}

/* animations and transitions */

@keyframes color-change {
  0% {
    fill: #edc655;
  }
  50% {
    fill: #fcffad;
  }
  100% {
    fill: #FA9760;
  }
}

.sun {
  animation: 9s color-change alternate linear;
}

@keyframes boat-move {
  from {
    transform: translate(90px, 0px);
  }
  to {
    transform: translate(-220px, 5px);
  }
}

.boat {
  animation: 30s boat-move infinite ease-in;
}

/* Table */

th, td {
  border: 1px solid var(--primary-color-darker);
  border-collapse: collapse;
  padding: 15px;
}

.skills-table {
  margin: 0 auto; /* or margin: 0 auto 0 auto */
  width: 400px;
  border: 1px solid var(--primary-color-darker);
  border-collapse: collapse;
}

table#mytable tr:nth-child(even) {
  background-color: #FAD7A0;
}

table#mytable tr:nth-child(odd) {
  background-color: #E67E22;
}

table#mytable th {
  color: white;
  background-color: teal;
}

/* media */

@media all and (max-width: 500px) {
  .grid {
    grid-template-columns: 1fr;
  }
}
@media all and (min-width: 500px) and (max-width: 750px){
  .grid {
    grid-template-columns: 1fr 1fr;
  }
}
@media all and (max-width: 750px) {
  .grid {
    grid-gap: 10px;
  }
  .grid__item:last-child {
    grid-column: auto / auto;
    grid-row: auto / auto;
  }
  h1 {
    font-size: 22px;
  }
}
