@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Slab:wght@100;200;300;400;500;600;700;800;900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/*
Colors used

Text Color (Dark Gray): #2b2b2b;
Primary Color (Dark teal): #264653;
Secondary Color (Gold): #e0b354;
 */

:root {
  --primary-color: #264653;
  --primary-color-lighter: #357b70;
  --primary-color-darker: #203c47;
  --secondary-color: #e0b354;
  --secondary-color-lighter: #f0d696;
  --secondary-color-darker: #e2b23e;
  --background-color: #cdcdcd;
  --background-color-darker: #909090;
  --background-color-lighter: #c3c3c3;
}

*{
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.page-container {

  
}

h1, h2, h3 {
  padding: 20px 0px 0px 0px;
}



/* The navigation bar */

.navbar-custom {
  background-color: var(--primary-color);
}


.navbar-nav li {
  float: right;
  }

#navbarNav {
  float: right;
  text-align: right;
}



#navbarNav a:hover {
 /* No underlining when hovering over a link */
 text-decoration: none;
 color: var(--primary-color-lighter);
}

#navbarNav a:visited {
  color: var(--secondary-color);
  text-decoration: none;
}


section{
/*  min-height: calc(100vh - 70px); */
  padding: 20px;
}

/* Profile */

.profile {
  max-width: 1200px;
  margin: 0 auto;
}

.profile__portrait {
  float: left;
  width: 100%;
  margin-right: 20px;
  padding: 20px;
}

.profile__text {
  flex: 1 1 100px;
}


.grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 20px 1fr 20px 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 20px;

}

.grid__item:last-child {
  -ms-grid-column: 3;
      grid-column-start: 3;
  -ms-grid-column-span: 0;
  grid-column-end: 3;
  -ms-grid-row: 1;
      grid-row-start: 1;
  -ms-grid-row-span: 2;
  grid-row-end: 3;
}

/* start grid fallback */
.grid__item {
  display: inline-block;
  width: 33%;
  -ms-flex-preferred-size: 200px;
      flex-basis: 200px;
 }

 /* end grid fallback */
 
 @supports (display: grid) {
  .grid {
    display: -ms-grid;
    display: grid;
    /* grid-template-columns: 300px 300px 300px; fractions are better than pixels - they are responsive */
    -ms-grid-columns: 1fr 20px 1fr 20px 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 20px;
    margin: 0;
 
  }
  .grid__item {
    background-color: #eeeeee;
    border: 1px solid #34495e;
    border-radius: 10px;
    width: auto;
    min-height: auto;
    margin: 0;
    padding: 10px 20px 20px 20px;
  }
  .grid__item:last-child {
    -ms-grid-column: 3;
    grid-column: 3 / 3;
    -ms-grid-row: 1;
    -ms-grid-row-span: 2;
    grid-row: 1 / 3;
  }
 }

 /* Button styles */
.btn-primary {
  /* overwrites browser defaults and resets the border */
  border: none;
  display: inline-block;
  /* takes the font from the outer container */
  font-family: inherit;
  /* styles the button */
  -webkit-box-shadow: 0;
          box-shadow: 0; 
  /* styles the button */
  background-color: var(--primary-color);
  border-color: var(--primary-color);
  color: white;
  text-decoration: none;
  outline: none;
  -webkit-font-smoothing: subpixel-antialiased;
  -webkit-transition: 0.5s opacity;
  -o-transition: 0.5s opacity;
  transition: 0.5s opacity;
  padding: 10px 19px;
  font-size: 17px;
  line-height: 1.471;
  width: 30%;
  border-radius: 3px;
  text-transform: uppercase;
  margin: auto;
  margin-top: 1.44em;
  margin-bottom: .55em;
  display: inherit;
}
  
.btn-primary:hover,
.btn-primary:focus {
  background-color: var(--primary-color);
    /* lets the mouse appear as a hand when hovering over the button */
    cursor: pointer;
    /* reduces the opacity of the button to 80% */
    opacity: 0.8;
}

/* Footer */

footer{
    background-color:#e2b23e;
    padding: 20px;

  }

  
/* links */

a {
    text-decoration: none;
  }
  
  a:link {
    color: var(--primary-color-lighter);
    font-weight: 500;
  }
  
  /* mouse over link */
  
  a:hover, a:focus {
    /* No underlining when hovering over a link */
    font-weight: 700;
    color: var(--secondary-color);
  }
  
  a:visited {
    color: var(--secondary-color-darker);
  }
    
  
  
  /* Body */
  
  body {
    margin: 0 auto;
    font-family: "Roboto";
    font-weight: 300;
    font-size: 16px;
    /* Sets the font size to 16px */
    line-height: 1.6;
    /* Sets the line-height to 1.6 */
    display: flex;
    flex-direction: column;
    }
  
    .content {
      flex: 1 0 auto;
    }
  
  
  .row-header{
      margin:0px auto;
      padding:0px;
  }
  
  .row-content {
      margin:0px auto;
      padding: 20px;
      border-bottom: 1px ridge;
      min-height:400px;  
    }
  
/* Skill set background */

#skillset {
  background-color: #e9ecef;
}

.skillset-svg {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 20px;

}

/*** Progress Bar ***/

.progress,
.progress-bar {
	-webkit-box-shadow: none;
	box-shadow: none;
}

.progress-bar {
	background-color: #49e2d6;
}

/* media */

@media all and (max-width: 500px) {
  .grid {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }
}
@media all and (min-width: 500px) and (max-width: 750px){
  .grid {
    -ms-grid-columns: 1fr 20px 1fr;
    grid-template-columns: 1fr 1fr;
  }
}
@media all and (max-width: 750px) {
  .grid {
    grid-gap: 10px;
  }
  .grid__item:last-child {
    grid-column: auto / auto;
    grid-row: auto / auto;
  }
  h1 {
    font-size: 22px;
  }
}  

