/*
Colors used

Text Color (Dark Gray): #2b2b2b;
Primary Color (Purple): #264653;
Secondary Color (Orange): #e0b354;
 */

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Slab:wght@100;200;300;400;500;600;700;800;900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{
  box-sizing: border-box;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 20px;

}

.grid__item:last-child {
  grid-column-start: 3;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 3;
}

/* start grid fallback */
.grid__item {
  display: inline-block;
  width: 33%;
  flex-basis: 200px;
 }


 /* end grid fallback */
 
 @supports (display: grid) {
  .grid {
    display: grid;
    /* grid-template-columns: 300px 300px 300px; fractions are better than pixels - they are responsive */
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 20px;
    margin: 0;
 
  }
  .grid__item {
    background-color: lightgray;
    width: auto;
    min-height: auto;
    margin: 0;
  }
  .grid__item:last-child {
    grid-column: 3 / 3;
    grid-row: 1 / 3;
  }
 }

body {
  margin: 0 auto;
    font-family: "Roboto";
    font-weight: 300;
    font-size: 16px;
    /* Sets the font size to 16px */
    line-height: 1.6;
    /* Sets the line-height to 1.6 */
  }



  @media all and (min-width: 500px) and (max-width: 750px){
    .grid {
      grid-template-columns: 1fr 1fr;
      grid-gap: 10px;
    }
    .grid__item:last-child {
      grid-column: auto / auto;
      grid-row: auto / auto;
    }
    h1 {
      font-size: 22px;
    }

  }

/* Main content */
.main {
  margin-top: 30px; /* Add a top margin to avoid content overlay */
}

/* The navigation bar */


nav {
     background-color: #264653;
     padding: 15px;
     vertical-align: middle;
}

nav a:link, a:visited {
  color: #e9c46a;
  text-decoration: none;
}

nav a:hover, a:focus {
  /* No underlining when hovering over a link */
  text-decoration: none;
  color: white;
}
/*
nav a:active {
  color: white;
}
*/

.profile {
  max-width: 700px;
  margin: 0 auto;
}

.profile__portrait {
  float: left;
  width: 100%;
  margin-right: 40px;
/*  border-radius: 50%; */
}

.profile__text {
  flex: 1 1 100px;
}

.row-header{
    margin:0px auto;
    padding:0px;
}

.page-header {
  background-color: #264653;
  display: flex;
  width: 100%;
  padding: 20px;
  margin: 0 auto;
}



.page-header__item {
  flex: 0 1 200px;

}

.page-header__item:last-child {
  flex-grow: 1;
  text-align: right;
}

.navigation-list {
  list-style-type: none;
}

.navigation-list li {
  display: inline-block;
  margin-left: 15px;
}

.row-content {
    margin:0px auto;
    padding: 20px 0px 20px 0px;
/*    border-bottom: 1px ridge;
    min-height:400px;  */
}

footer{
    background-color: #cf9b1f;
    margin:0px auto;
    padding: 20px 0px;
    align-items: center;
}

.page-footer {
  clear: both;
  display: flex;
  text-align: center;
  flex-direction: column;
}

h1, h2, h3 {
    padding: 20px 0px 0px 0px;
}

  
small {
    font-size: 80%
}


/* unvisited link */
a:link {
  color: #008578;
  text-decoration: none;
  font-weight: 500;
}


/* mouse over link */

a:hover, a:focus {
  /* No underlining when hovering over a link */
  text-decoration: none;
}

a:visited {
  color: #cf9b1f;
  text-decoration: none;
}


.tab-content {
  border-left: 1px solid #ddd;
  border-right: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  padding: 0px 20px 10px 20px;
}
/*
div, header, nav, footer, main {
  border: 1px solid lightgray;
}
*/

.form {
  width: 400px;
  margin:auto;
  background: white;
  border-radius: 3px;
  margin-top: 5em;
  margin-bottom: 6em;
  padding: 1.25em;
}
  
h3 {
  font-size: 1.98em;
  margin-bottom: .8em;
  margin-top: .4em;
  font-weight: 300;
}
  
.btn-primary {
  box-shadow: 0; 
  border: none; 
  background-color: #48c9b0;
  border-color: #48c9b0;
  color: #ffffff;
  outline: none;
  -webkit-font-smoothing: subpixel-antialiased;
  transition: all .5s;
  padding: 10px 19px;
  font-size: 17px;
  line-height: 1.471;
  width: 30%;
  border-radius: 3px;
  text-transform: uppercase;
  margin: auto;
  margin-top: 1.44em;
  margin-bottom: .55em;
  display: inherit;
}
  
.btn-primary:hover {
  background-color: #1ABC9C;
}
  
.form-group {
  position: relative;
  opacity: 1;
  transition: .6s;
}
  
.input-field-icon {
  color: #bfc9ca;
  font-size: 18px;
  position: absolute;
  right: 10px;
  bottom: 12px;
  transition: .6s;
}
  
.form-control {
  transition: opacity .6s;
  opacity: 1;
  border: 0;
  border-bottom: 2px solid #bdc3c7;
  border-radius: 0;
  background: white;
  font-size: 15px;
  line-height: 1.467;
  padding: 4px;
  height: 42px;
  -webkit-appearance: none;
}
 
input, textarea, button, select {
  transition: all 800ms;
  font-family: "system-ui";
  resize: none;  /* removes the resize handle */
  overflow: auto; /* removes default scrolling bars in IE */
  outline:none; 
  font-family:inherit; 
  box-sizing:border-box;
  width: 100%;
  padding: 0px 4px;
  color: #34495e;
  margin-top: 1.25em;
}
  
.has-error input, .has-error textarea {
  color: #e74c3c;
  border-color: #e74c3c;
}
  
.has-error .input-field-icon {
  color: #e74c3c;
}
  
.has-success input, .has-success textarea {
  color: #2ecc71;
  border-color: #2ecc71;
}
  
.has-success .input-field-icon {
  color: #2ecc71;
}
  
input:focus, textarea:focus {
  border-color: #48c9b0;
  color: #34495e;
}
  
input:focus + .input-field-icon {
  color: #34495e;
}
  
textarea.form-control {
  height: 120px;
  transition: .6s;
}
  
textarea.form-control:focus {
  height: 200px;
  border-color: #48c9b0;
}

table, th, td {
  border: 1px solid #34495e;
  border-collapse: collapse;
}

th, td {
  padding: 15px;
}

table#mytable tr:nth-child(even) {
  background-color: #FAD7A0;
}

table#mytable tr:nth-child(odd) {
  background-color: #E67E22;
}

table#mytable th {
  color: white;
  background-color: teal;
}